[color]
        branch = auto
        diff = auto
        status = auto
        ui = true

[alias]
        amend = commit --amend --verbose
        b = branch
        c = commit -v
        ca = commit -av
        cam = commit -am
        cav = commit -av
        cm = commit -m
        co = checkout
        cv = commit -v
        c-p = cherry-pick
        ff = merge --ff
        fixup = commit --fixup
        r = remote
        l = log --oneline
        st = status
        push-with-lease = push --force-with-lease
        rb-con = rebase --continue
        wc = whatchanged
        p = diff --cached
        rb = rebase
        entr = ! git ls-files | entr

[user]
        email = mose.schmiedel@web.de
        name = Mose Schmiedel

[core]
        editor = vim
        excludesfile = ~/.gitignore

[push]
        default = upstream
[rebase]
        autosquash = true

[branch]
        # https://stackoverflow.com/a/22147540
        autoSetupRebase = always
        autosetupmerge = true

[merge]
        ff = false
        conflictstyle = diff3

[status]
        showUntrackedFiles = all

[pull]
        rebase = true

[interactive]
        singleKey = true
        diffFilter = /usr/share/git/diff-highlight/diff-highlight

[fetch]
        prune = true

[pager]
        diff = /usr/share/git/diff-highlight/diff-highlight | less
        log = /usr/share/git/diff-highlight/diff-highlight | less
        show = /usr/share/git/diff-highlight/diff-highlight | less

[diff]
        compactionHeuristic = true

[gui]
        encoding = utf-8 
	fontui = -family \"Balsamiq Sans\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Hurmit Nerd Font Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
